body {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.container {
    
    max-width: 70%;
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
    background-color: rgb(219, 207, 207);
}

.mem__block {
    text-align: center;
    cursor: pointer;
  }

.container:hover .mem__title {
    color: #000;
}

.mem__input:checked + .mem__info .mem__title {
    color: #000;
  }

.mem__info {
    display: flex;
    justify-content: space-between;
}  

.line {
    display: block;
    width: 0.93rem;
    height: 0.18rem;
    transition: 0.3s;
    background-color: #000;
    margin: 0.31rem auto;
}

.line:nth-child(1) {
    transform: translateY(0) rotate(0);
}

.line:nth-child(2) {
    transform: translateY(-0.5rem) rotate(90deg);
}

.mem__block:hover .cross > .line:nth-child(1),
.mem__input:checked + .mem__info .cross > .line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.mem__block:hover .cross > .line:nth-child(2),
.mem__input:checked + .mem__info .cross > .line:nth-child(2) {
    transform: translateY(-0.5rem) rotate(-45deg);
}


.mem__block {
    border-top: 0.1rem solid black;
}

.content {
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
}

.title {
    padding: 1rem 0; 
  }

.mem__block {
    margin-top: 1rem;
}



.mem__title {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all ease 0.3s;
    color: blue;
}

.title__task {
    margin: 0 auto;
}


.mem__img {
    display: none;
    margin-top: 1rem;
}

.last__img {
    padding-bottom: 1rem;
}

.mem__title:hover {
    color: #000;
}

.mem__block:hover .mem__img {
    display: block;
  }

.mem__input {
    appearance: none;
}

.mem__input:checked ~ .mem__img {
    display: block;
}

.mem__input:checked ~ .mem__title {
    color: #000;
}

